.btn {
    border-width: 2px;
}

img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
    border-radius: 2rem !important;
}

.video-wrapper {
    overflow: hidden;
}

body {
    background-color: #ffeff4;
}

body {
    font-family: Source Serif 4;
}

.display-1 {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 5rem;
    line-height: 1;
}

.display-1>.mbr-iconfont {
    font-size: 6.25rem;
}

.display-2 {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 4rem;
    line-height: 1;
}

.display-2>.mbr-iconfont {
    font-size: 5rem;
}

.display-4 {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.display-4>.mbr-iconfont {
    font-size: 1.5rem;
}

.display-5 {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

.display-5>.mbr-iconfont {
    font-size: 3.125rem;
}

.display-7 {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
}

.display-7>.mbr-iconfont {
    font-size: 1.75rem;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */

/* 100vw - current viewport width */

/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */

/* 0.65 - min scale variable, may vary */

@media (max-width: 992px) {
    .display-1 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 3.5rem;
        font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
        font-size: 3.2rem;
        font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
        font-size: 0.96rem;
        font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
        font-size: 2rem;
        font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
        font-size: 1.12rem;
        font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .display-1 {
        font-size: 3.5rem;
        font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
    }
    .display-2 {
        font-size: 3.2rem;
        font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
    }
    .display-4 {
        font-size: 0.96rem;
        font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
    }
    .display-5 {
        font-size: 2rem;
        font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
    }
    .display-7 {
        font-size: 1.12rem;
        font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
        line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
    }
}

/* Buttons */

.btn {
    padding: 1.25rem 2rem;
    border-radius: 4px;
}

@media (max-width: 767px) {
    .btn {
        padding: 0.75rem 1.5rem;
    }
}

.btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-lg {
    padding: 1.25rem 2rem;
    border-radius: 4px;
}

.bg-primary {
    background-color: #821d30 !important;
}

.bg-success {
    background-color: #20ac6b !important;
}

.bg-info {
    background-color: #0aa3c2 !important;
}

.bg-warning {
    background-color: #cc9900 !important;
}

.bg-danger {
    background-color: #ae1e2c !important;
}

.btn-primary,
.btn-primary:active {
    background-color: #821d30 !important;
    border-color: #821d30 !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    color: inherit;
    background-color: #ac263f !important;
    border-color: #ac263f !important;
    box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #ac263f !important;
    border-color: #ac263f !important;
}

.btn-secondary,
.btn-secondary:active {
    background-color: #87f694 !important;
    border-color: #87f694 !important;
    color: #097515 !important;
    box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
    color: inherit;
    background-color: #b6fabe !important;
    border-color: #b6fabe !important;
    box-shadow: none;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #097515 !important;
    background-color: #b6fabe !important;
    border-color: #b6fabe !important;
}

.btn-info,
.btn-info:active {
    background-color: #0aa3c2 !important;
    border-color: #0aa3c2 !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
    color: inherit;
    background-color: #0dccf3 !important;
    border-color: #0dccf3 !important;
    box-shadow: none;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff !important;
    background-color: #0dccf3 !important;
    border-color: #0dccf3 !important;
}

.btn-success,
.btn-success:active {
    background-color: #20ac6b !important;
    border-color: #20ac6b !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
    color: inherit;
    background-color: #28d786 !important;
    border-color: #28d786 !important;
    box-shadow: none;
}

.btn-success.disabled,
.btn-success:disabled {
    color: #ffffff !important;
    background-color: #28d786 !important;
    border-color: #28d786 !important;
}

.btn-warning,
.btn-warning:active {
    background-color: #cc9900 !important;
    border-color: #cc9900 !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
    color: inherit;
    background-color: #ffbf00 !important;
    border-color: #ffbf00 !important;
    box-shadow: none;
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #ffffff !important;
    background-color: #ffbf00 !important;
    border-color: #ffbf00 !important;
}

.btn-danger,
.btn-danger:active {
    background-color: #ae1e2c !important;
    border-color: #ae1e2c !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
    color: inherit;
    background-color: #da2637 !important;
    border-color: #da2637 !important;
    box-shadow: none;
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff !important;
    background-color: #da2637 !important;
    border-color: #da2637 !important;
}

.btn-white,
.btn-white:active {
    background-color: #eff0ec !important;
    border-color: #eff0ec !important;
    color: #757b62 !important;
    box-shadow: none;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
    color: inherit;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: none;
}

.btn-white.disabled,
.btn-white:disabled {
    color: #757b62 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.btn-black,
.btn-black:active {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
    box-shadow: none;
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
    color: inherit;
    background-color: #3d3d3d !important;
    border-color: #3d3d3d !important;
    box-shadow: none;
}

.btn-black.disabled,
.btn-black:disabled {
    color: #ffffff !important;
    background-color: #3d3d3d !important;
    border-color: #3d3d3d !important;
}

.btn-primary-outline,
.btn-primary-outline:active {
    background-color: transparent !important;
    border-color: #821d30;
    color: #821d30;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
    color: #3b0d16 !important;
    background-color: transparent !important;
    border-color: #3b0d16 !important;
    box-shadow: none !important;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #821d30 !important;
    border-color: #821d30 !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: #87f694;
    color: #87f694;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
    color: #36f04c !important;
    background-color: transparent !important;
    border-color: #36f04c !important;
    box-shadow: none !important;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
    color: #097515 !important;
    background-color: #87f694 !important;
    border-color: #87f694 !important;
}

.btn-info-outline,
.btn-info-outline:active {
    background-color: transparent !important;
    border-color: #0aa3c2;
    color: #0aa3c2;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
    color: #065e70 !important;
    background-color: transparent !important;
    border-color: #065e70 !important;
    box-shadow: none !important;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #0aa3c2 !important;
    border-color: #0aa3c2 !important;
}

.btn-success-outline,
.btn-success-outline:active {
    background-color: transparent !important;
    border-color: #20ac6b;
    color: #20ac6b;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
    color: #12633e !important;
    background-color: transparent !important;
    border-color: #12633e !important;
    box-shadow: none !important;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #20ac6b !important;
    border-color: #20ac6b !important;
}

.btn-warning-outline,
.btn-warning-outline:active {
    background-color: transparent !important;
    border-color: #cc9900;
    color: #cc9900;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
    color: #755800 !important;
    background-color: transparent !important;
    border-color: #755800 !important;
    box-shadow: none !important;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
    color: #ffffff !important;
    background-color: #cc9900 !important;
    border-color: #cc9900 !important;
}

.btn-danger-outline,
.btn-danger-outline:active {
    background-color: transparent !important;
    border-color: #ae1e2c;
    color: #ae1e2c;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
    color: #641119 !important;
    background-color: transparent !important;
    border-color: #641119 !important;
    box-shadow: none !important;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #ae1e2c !important;
    border-color: #ae1e2c !important;
}

.btn-black-outline,
.btn-black-outline:active {
    background-color: transparent !important;
    border-color: #232323;
    color: #232323;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent !important;
    border-color: #000000 !important;
    box-shadow: none !important;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
}

.btn-white-outline,
.btn-white-outline:active {
    background-color: transparent !important;
    border-color: #fafafa;
    color: #fafafa;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent !important;
    border-color: #cfcfcf !important;
    box-shadow: none !important;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
}

.text-primary {
    color: #821d30 !important;
}

.text-secondary {
    color: #87f694 !important;
}

.text-success {
    color: #20ac6b !important;
}

.text-info {
    color: #0aa3c2 !important;
}

.text-warning {
    color: #cc9900 !important;
}

.text-danger {
    color: #ae1e2c !important;
}

.text-white {
    color: #fafafa !important;
}

.text-black {
    color: #232323 !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
    color: #2f0a11 !important;
}

a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
    color: #28ef3f !important;
}

a.text-success:hover,
a.text-success:focus,
a.text-success.active {
    color: #105636 !important;
}

a.text-info:hover,
a.text-info:focus,
a.text-info.active {
    color: #055161 !important;
}

a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
    color: #664d00 !important;
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
    color: #570f16 !important;
}

a.text-white:hover,
a.text-white:focus,
a.text-white.active {
    color: #c7c7c7 !important;
}

a.text-black:hover,
a.text-black:focus,
a.text-black.active {
    color: #000000 !important;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
    transition: background-position 2s ease-in-out;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-position: 0px 1.2em;
}

.nav-tabs .nav-link.active {
    color: #821d30;
}

.nav-tabs .nav-link:not(.active) {
    color: #232323;
}

.alert-success {
    background-color: #70c770;
}

.alert-info {
    background-color: #0aa3c2;
}

.alert-warning {
    background-color: #cc9900;
}

.alert-danger {
    background-color: #ae1e2c;
}

.mbr-section-btn .btn:not(.btn-form) {
    border-radius: 100px;
}

.mbr-gallery-filter li a {
    border-radius: 100px !important;
}

.mbr-gallery-filter li.active .btn {
    background-color: #821d30;
    border-color: #821d30;
    color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
}

.nav-tabs .nav-link {
    border-radius: 100px !important;
}

a,
a:hover {
    color: #821d30;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #d64863;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #68e3aa;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #55dbf6;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #ffe599;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #e56773;
}

/* Scroll to top button*/

.scrollToTop_wraper {
    display: none;
}

.form-control {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 400;
    border-radius: 40px !important;
}

.form-control>.mbr-iconfont {
    font-size: 1.75rem;
}

.form-control:hover,
.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #821d30 !important;
}

.form-control:-webkit-input-placeholder {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 400;
}

.form-control:-webkit-input-placeholder>.mbr-iconfont {
    font-size: 1.75rem;
}

blockquote {
    border-color: #821d30;
}

/* Forms */

.mbr-form .input-group-btn .btn {
    border-radius: 100px !important;
}

.mbr-form .input-group-btn .btn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.mbr-form .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
    padding: 1rem 3rem;
}

.mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.jq-selectbox li:hover,
.jq-selectbox li.selected {
    background-color: #821d30;
    color: #ffffff;
}

.jq-number__spin {
    transition: 0.25s ease;
}

.jq-number__spin:hover {
    border-color: #821d30;
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #232323;
    border-bottom-color: #232323;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
    border-top-color: #821d30;
    border-bottom-color: #821d30;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    color: #ffffff !important;
    background-color: #821d30 !important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #000000 !important;
    background: #87f694 !important;
    box-shadow: none !important;
}

.lazy-bg {
    background-image: none !important;
}

.lazy-placeholder:not(section),
.lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
}

iframe.lazy-placeholder,
.lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../../../data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23821d30' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

section.lazy-placeholder:after {
    opacity: 0.5;
}

body {
    overflow-x: hidden;
}

a {
    transition: color 0.6s;
}

@media (max-width: 1400px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1400px) and (min-width: 768px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 1400px) and (min-width: 768px) {
    .container-fluid {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 767px) {
    .container-fluid {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.cid-uthcPI4K0N {
    z-index: 1000;
    width: 100%;
    position: relative;
}

.cid-uthcPI4K0N .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
}

@media (max-width: 767px) {
    .cid-uthcPI4K0N .navbar-toggler {
        transform: scale(0.8);
    }
}

.cid-uthcPI4K0N .navbar-brand {
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}

.cid-uthcPI4K0N .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}

.cid-uthcPI4K0N .navbar-brand .navbar-caption {
    line-height: inherit !important;
}

.cid-uthcPI4K0N .navbar-brand .navbar-logo a {
    outline: none;
}

.cid-uthcPI4K0N .navbar-nav {
    margin: auto;
    margin-left: 0;
    margin-left: auto;
}

.cid-uthcPI4K0N .navbar-nav .nav-item {
    padding: 0 !important;
    transition: 0.3s all !important;
}

.cid-uthcPI4K0N .navbar-nav .nav-item .nav-link {
    padding: 16px !important;
    margin: 0 !important;
    border-radius: 1rem !important;
    transition: 0.3s all !important;
}

.cid-uthcPI4K0N .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(27, 31, 10, 0.06);
}

.cid-uthcPI4K0N .navbar-nav .open .nav-link::after {
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    .cid-uthcPI4K0N .navbar-nav .open .nav-link::before {
        content: "";
        width: 100%;
        height: 20px;
        top: 100%;
        background: transparent;
        position: absolute;
    }
}

.cid-uthcPI4K0N .navbar-nav .dropdown-item {
    padding: 12px !important;
    border-radius: 0.5rem !important;
    margin: 0 8px !important;
    transition: 0.3s all !important;
}

.cid-uthcPI4K0N .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
}

@media (min-width: 992px) {
    .cid-uthcPI4K0N .navbar-nav {
        padding-left: 1.5rem;
    }
}

.cid-uthcPI4K0N .nav-link {
    width: fit-content;
    position: relative;
}

.cid-uthcPI4K0N .navbar-logo {
    margin: 0 !important;
}

@media (max-width: 767px) {
    .cid-uthcPI4K0N .navbar-logo {
        padding-left: 0;
    }
}

.cid-uthcPI4K0N .navbar-caption {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

@media (max-width: 767px) {
    .cid-uthcPI4K0N .nav-dropdown {
        padding-bottom: 0.5rem;
    }
}

.cid-uthcPI4K0N .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    transition: 0.3s all;
}

.cid-uthcPI4K0N .container {
    display: flex;
    height: 90px;
    padding: 0.5rem 0.6rem;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.8) !important;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100vw;
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}

@media (max-width: 992px) {
    .cid-uthcPI4K0N .container {
        padding-right: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-uthcPI4K0N .container {
        width: 95%;
        height: 56px !important;
        padding-right: 1rem;
        margin-top: 0rem;
    }
}

.cid-uthcPI4K0N .iconfont-wrapper {
    color: #000000 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.cid-uthcPI4K0N .dropdown-menu {
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    padding: 12px 4px !important;
    border-radius: 1.5rem;
    transition: 0.3s all !important;
    min-width: auto;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8) !important;
}

.cid-uthcPI4K0N .nav-item:focus,
.cid-uthcPI4K0N .nav-link:focus {
    outline: none;
}

.cid-uthcPI4K0N .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
}

.cid-uthcPI4K0N .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
}

.cid-uthcPI4K0N .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
}

.cid-uthcPI4K0N .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
}

.cid-uthcPI4K0N .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
}

.cid-uthcPI4K0N .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
}

.cid-uthcPI4K0N .navbar {
    min-height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.cid-uthcPI4K0N .navbar.opened {
    transition: all 0.3s;
}

.cid-uthcPI4K0N .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
}

.cid-uthcPI4K0N .navbar .navbar-logo img {
    min-width: 6rem;
    object-fit: cover;
}

.cid-uthcPI4K0N .navbar .navbar-collapse {
    z-index: 1;
    justify-content: flex-end;
}

.cid-uthcPI4K0N .navbar.collapsed {
    justify-content: center;
}

.cid-uthcPI4K0N .navbar.collapsed .nav-item .nav-link::before {
    display: none;
}

.cid-uthcPI4K0N .navbar.collapsed.opened .dropdown-menu {
    top: 0;
}

@media (min-width: 992px) {
    .cid-uthcPI4K0N .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
        max-height: calc(98.5vh - 4.3rem);
    }
}

.cid-uthcPI4K0N .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
}

.cid-uthcPI4K0N .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
}

.cid-uthcPI4K0N .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
}

.cid-uthcPI4K0N .navbar.collapsed ul.navbar-nav li {
    margin: auto;
}

.cid-uthcPI4K0N .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
}

.cid-uthcPI4K0N .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 767px) {
    .cid-uthcPI4K0N .navbar {
        min-height: 72px;
    }
    .cid-uthcPI4K0N .navbar .navbar-logo img {
        height: 2.5rem !important;
        min-width: 2.5rem !important;
    }
}

@media (max-width: 991px) {
    .cid-uthcPI4K0N .navbar .nav-item .nav-link::before {
        display: none;
    }
    .cid-uthcPI4K0N .navbar.opened .dropdown-menu {
        top: 0;
    }
    .cid-uthcPI4K0N .navbar .dropdown-menu .dropdown-submenu {
        left: 0 !important;
    }
    .cid-uthcPI4K0N .navbar .dropdown-menu .dropdown-item:after {
        right: auto;
    }
    .cid-uthcPI4K0N .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
        margin-left: 0.5rem;
        margin-top: 0.2rem;
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-left: 0.35em solid transparent;
        border-bottom: 0;
        top: 40%;
    }
    .cid-uthcPI4K0N .navbar .dropdown-menu .dropdown-item {
        padding: 0.25rem 1.5rem !important;
        text-align: center;
    }
    .cid-uthcPI4K0N .navbar .navbar-brand {
        flex-shrink: initial;
        flex-basis: auto;
        word-break: break-word;
        padding-right: 10px;
    }
    .cid-uthcPI4K0N .navbar .navbar-toggler {
        flex-basis: auto;
    }
    .cid-uthcPI4K0N .navbar .icons-menu {
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.cid-uthcPI4K0N .navbar.navbar-short .navbar-logo img {
    height: 2rem;
}

.cid-uthcPI4K0N .dropdown-item.active,
.cid-uthcPI4K0N .dropdown-item:active {
    background-color: transparent;
}

.cid-uthcPI4K0N .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.cid-uthcPI4K0N .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
}

.cid-uthcPI4K0N .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
}

.cid-uthcPI4K0N .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
}

.cid-uthcPI4K0N .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 105%;
    transform: none;
    top: -12px;
}

.cid-uthcPI4K0N .navbar .dropdown.open>.dropdown-menu {
    display: flex;
}

.cid-uthcPI4K0N ul.navbar-nav {
    flex-wrap: wrap;
}

.cid-uthcPI4K0N .navbar-buttons {
    text-align: center;
    min-width: 140px;
}

@media (max-width: 992px) {
    .cid-uthcPI4K0N .navbar-buttons {
        text-align: left;
    }
}

.cid-uthcPI4K0N button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
}

.cid-uthcPI4K0N button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
}

.cid-uthcPI4K0N button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
}

.cid-uthcPI4K0N button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
}

.cid-uthcPI4K0N button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
}

.cid-uthcPI4K0N button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
}

.cid-uthcPI4K0N nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-uthcPI4K0N nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
}

.cid-uthcPI4K0N nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
}

.cid-uthcPI4K0N nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-uthcPI4K0N .navbar-dropdown {
    padding: 0 1rem;
}

.cid-uthcPI4K0N a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cid-uthcPI4K0N .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
}

@media (max-width: 992px) {
    .cid-uthcPI4K0N .icons-menu {
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .cid-uthcPI4K0N .navbar {
        height: 70px;
    }
    .cid-uthcPI4K0N .navbar.opened {
        height: auto;
    }
    .cid-uthcPI4K0N .nav-item .nav-link:hover::before {
        width: 175%;
        max-width: calc(100% + 2rem);
        left: -1rem;
    }
}

.cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu {
    display: none;
    width: max-content;
    max-width: 500px !important;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    left: 50%;
}

.cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown-item {
    line-height: 1 !important;
}

.cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
}

.cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(-90deg);
}

.cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(0deg);
}

.cid-uthcPI4K0N .mbr-section-btn {
    margin: -0.6rem -0.6rem;
}

.cid-uthcPI4K0N .navbar-toggler {
    margin-left: 12px;
    margin-right: 8px;
    order: 1000;
}

@media (max-width: 991px) {
    .cid-uthcPI4K0N .navbar-brand {
        margin-right: auto;
    }
    .cid-uthcPI4K0N .navbar-collapse {
        z-index: -1 !important;
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        padding: 1rem;
        border-radius: 1.5rem;
        background: #ffffff;
        opacity: 1;
        border-color: rgba(255, 255, 255, 0.8) !important;
        background: rgba(255, 255, 255, 0.8) !important;
        backdrop-filter: blur(8px);
    }
    .cid-uthcPI4K0N .navbar-nav .nav-item .nav-link::after {
        margin-left: 10px;
    }
    .cid-uthcPI4K0N .navbar-nav .dropdown-item:hover {
        background-color: rgba(27, 31, 10, 0.06);
    }
    .cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu {
        max-width: 100% !important;
        transform: translateX(0);
        top: 10px;
        left: 0;
        padding: 8px !important;
        border-radius: 1rem;
        background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown-item {
        padding: 8px !important;
        line-height: 1 !important;
        margin-bottom: 4px !important;
    }
    .cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item {
        align-items: center;
        display: flex;
        height: max-content !important;
        min-height: max-content !important;
    }
    .cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item::after {
        display: inline-block;
        position: static;
        margin-left: 0.5rem;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        transition: 0.3s all;
        transform: rotate(0deg);
    }
    .cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown.open .dropdown-item::after {
        transform: rotate(180deg);
    }
    .cid-uthcPI4K0N .navbar .dropdown>.dropdown-menu .dropdown-submenu {
        position: static;
        width: 100%;
        max-width: 100% !important;
        transform: translateX(0) !important;
        top: 0;
        left: 0;
        padding: 8px !important;
        border-radius: 1rem;
        background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-uthcPI4K0N .navbar .dropdown.open>.dropdown-menu {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 575px) {
    .cid-uthcPI4K0N .navbar-collapse {
        padding: 1rem;
    }
}

.cid-uthcPI5vTG {
    display: flex;
}

@media (min-width: 768px) {
    .cid-uthcPI5vTG {
        align-items: flex-end;
    }
    .cid-uthcPI5vTG .row {
        justify-content: flex-start;
    }
    .cid-uthcPI5vTG .content-wrap {
        padding: 1rem 3rem;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .cid-uthcPI5vTG .content-wrap {
        min-width: 50%;
    }
}

@media (max-width: 767px) {
    .cid-uthcPI5vTG {
        -webkit-align-items: center;
        align-items: flex-end;
    }
    .cid-uthcPI5vTG .mbr-row {
        -webkit-justify-content: center;
        justify-content: center;
    }
    .cid-uthcPI5vTG .content-wrap {
        width: 100%;
    }
}

.cid-uthcPI5vTG .mbr-fallback-image.disabled {
    display: none;
}

.cid-uthcPI5vTG .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("https://r.mobirisesite.com/869091/assets/images/background1.jpg?rnd=1730885688259");
}

.cid-uthcPI5vTG .mbr-section-title,
.cid-uthcPI5vTG .mbr-section-subtitle {
    text-align: left;
    color: #ffc091;
}

.cid-uthcPI5vTG .mbr-text,
.cid-uthcPI5vTG .mbr-section-btn {
    text-align: left;
}

.cid-uthcPI5vTG .mbr-section-title {
    color: #efcae0;
}

.cid-uthcPI7n8S {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

.cid-uthcPI7n8S .item:focus,
.cid-uthcPI7n8S span:focus {
    outline: none;
}

.cid-uthcPI7n8S .item {
    cursor: pointer;
}

.cid-uthcPI7n8S .grid-container {
    grid-row-gap: 2rem;
}

@media (max-width: 767px) {
    .cid-uthcPI7n8S .grid-container {
        grid-row-gap: 1rem;
    }
}

.cid-uthcPI7n8S .grid-container-1,
.cid-uthcPI7n8S .grid-container-2,
.cid-uthcPI7n8S .grid-container-3 {
    gap: 0 2rem;
}

@media (max-width: 767px) {
    .cid-uthcPI7n8S .grid-container-1,
    .cid-uthcPI7n8S .grid-container-2,
    .cid-uthcPI7n8S .grid-container-3 {
        gap: 0 1rem;
    }
}

.cid-uthcPI7n8S .mbr-section-title {
    color: #000000;
}

.cid-uthcPI7n8S .mbr-text,
.cid-uthcPI7n8S .mbr-section-btn {
    color: #000000;
}

.cid-uthcPI7n8S .content-head {
    max-width: 800px;
}

.cid-uthcPI7n8S .container,
.cid-uthcPI7n8S .container-fluid {
    overflow: hidden;
}

.cid-uthcPI7n8S .grid-container {
    display: grid;
    transform: translate3d(-3rem, 0, 0);
    width: 115vw;
    grid-column-gap: 1rem;
}

.cid-uthcPI7n8S .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cid-uthcPI7n8S .grid-item img {
    min-width: 30vw;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .cid-uthcPI7n8S .grid-item img {
        min-width: 35vw;
    }
}

.cid-uthcPI7n8S .grid-container-1,
.cid-uthcPI7n8S .grid-container-2,
.cid-uthcPI7n8S .grid-container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.cid-uthcPI7n8S .grid-container-1 {
    align-items: flex-end;
}

.cid-uthcPI7n8S .grid-container-2 {
    align-items: flex-start;
}

.cid-uthcPI7K4k {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

.cid-uthcPI7K4k .video-wrapper iframe {
    width: 100%;
}

.cid-uthcPI7K4k .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uthcPI7K4k .mbr-section-title,
.cid-uthcPI7K4k .mbr-section-subtitle,
.cid-uthcPI7K4k .mbr-text {
    text-align: center;
}

.cid-uthcPIa98q {
    background-image: url("https://r.mobirisesite.com/869091/assets/images/photo-1515871204537-49a5fe66a-h_m35oj6sg.jpg");
    overflow: hidden;
}

.cid-uthcPIaEd7 {
    padding-top: 6rem;
    padding-bottom: 5rem;
    background-color: #fb6090;
}

.cid-uthcPIaEd7 .mbr-fallback-image.disabled {
    display: none;
}

.cid-uthcPIaEd7 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uthcPIaEd7 .content-head {
    max-width: 800px;
}

.cid-uthcPIaEd7 .mbr-section-title {
    color: #232323;
    text-align: left;
}

.cid-uthcPIaEd7 .mbr-text,
.cid-uthcPIaEd7 .mbr-section-btn {
    color: #000000;
}

.cid-uthcPIaEd7 img,
.cid-uthcPIaEd7 .item-img {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cid-uthcPIaImu {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}

.cid-uthcPIaImu .mbr-fallback-image.disabled {
    display: none;
}

.cid-uthcPIaImu .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uthcPIaImu .title .num {
    width: 100%;
    display: block;
}

.cid-uthcPIaImu .title .card-title {
    z-index: 1;
}

.cid-uthcPIaImu .num {
    color: #821D30;
    text-align: center;
}

.cid-uthcPIaImu .item-mb {
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .cid-uthcPIaImu * {
        text-align: center !important;
    }
    .cid-uthcPIaImu .content-column {
        margin-bottom: 2rem;
    }
}

.cid-uthcPIaImu .content-head {
    max-width: 800px;
}

.cid-uthcPIaImu .card-text {
    text-align: center;
}

.cid-uthcPIaImu .card-title,
.cid-uthcPIaImu .card-img {
    text-align: center;
}

.cid-uthcPIbv4u {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-uthcPIbv4u .mbr-fallback-image.disabled {
    display: none;
}

.cid-uthcPIbv4u .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-uthcPIbv4u .image-wrapper {
        margin-bottom: 2rem;
    }
}

.cid-uthcPIbv4u .row {
    align-items: center;
}

@media (max-width: 991px) {
    .cid-uthcPIbv4u .image-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 992px) {
    .cid-uthcPIbv4u .text-wrapper {
        padding: 0 2rem;
    }
}

.cid-uthcPIbv4u .mbr-section-title {
    color: #000000;
}

.cid-uthcPIbv4u .mbr-text,
.cid-uthcPIbv4u .mbr-section-btn {
    color: #000000;
}

.cid-uthcPIdaFE {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

.cid-uthcPIdaFE .item:focus,
.cid-uthcPIdaFE span:focus {
    outline: none;
}

.cid-uthcPIdaFE .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.cid-uthcPIdaFE .content-head {
    max-width: 800px;
}

.cid-uthcPIdaFE .item {
    color: #232323;
    min-height: 90px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .cid-uthcPIdaFE .item {
        min-height: 45px;
    }
}

.cid-uthcPIdGyJ {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

.cid-uthcPIdGyJ .mbr-text {
    color: #000000;
}

.cid-uthcPIdGyJ .mbr-section-subtitle {
    color: #000000;
}

.cid-uthcPIdGyJ .mbr-section-title {
    color: #000000;
}

.cid-uthcPIdGyJ .img-wrapper img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50% !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-uthcPIdGyJ .img-wrapper img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    .cid-uthcPIdGyJ .img-wrapper img {
        width: 80px;
        height: 80px;
    }
}

.cid-uthcPIdGyJ .img-wrapper {
    display: flex;
}

.cid-uthcPIdGyJ .card-text {
    text-align: center;
}

.cid-uthcPIdGyJ .card-title,
.cid-uthcPIdGyJ .img-wrapper {
    text-align: center;
    color: #6b6969;
}

.cid-uthcPIeqfP {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
}

.cid-uthcPIeqfP .mbr-text {
    color: #000000;
}

.cid-uthcPIeqfP .mbr-section-subtitle {
    color: #000000;
}

.cid-uthcPIeqfP .mbr-section-title {
    color: #000000;
    text-align: center;
}

.cid-uthcPIeqfP .mbr-text,
.cid-uthcPIeqfP .item .mbr-section-btn {
    text-align: left;
}

.cid-uthcPIeqfP .item-wrapper {
    background: #ffffff;
    margin-bottom: 2rem;
    padding: 2.25rem;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .cid-uthcPIeqfP .item-wrapper {
        padding: 2rem 1.5rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-uthcPIeqfP .item-wrapper {
        padding: 2rem 1.5rem;
        margin-bottom: 1rem;
    }
}

.cid-uthcPIeLx1 .mbr-fallback-image.disabled {
    display: none;
}

.cid-uthcPIeLx1 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("https://r.mobirisesite.com/869091/assets/images/background1.jpg?rnd=1730885688259");
}

.cid-uthcPIeClq {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-uthcPIeClq .mbr-fallback-image.disabled {
    display: none;
}

.cid-uthcPIeClq .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uthcPIeClq .bg-facebook {
    background: #1778f2;
    color: #ffffff;
}

.cid-uthcPIeClq .bg-facebook:hover {
    background: #0b60cb;
}

.cid-uthcPIeClq .bg-twitter {
    background: #1da1f2;
    color: #ffffff;
}

.cid-uthcPIeClq .bg-twitter:hover {
    background: #0c85d0;
}

.cid-uthcPIeClq .bg-instagram {
    background: #f00075;
    color: #ffffff;
}

.cid-uthcPIeClq .bg-instagram:hover {
    background: #bd005c;
}

.cid-uthcPIeClq .bg-tiktok {
    background: #000000;
    color: #ffffff;
}

.cid-uthcPIeClq .bg-tiktok:hover {
    background: #000000;
}

.cid-uthcPIeClq .iconfont-wrapper {
    display: inline-block;
    font-size: 32px;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.cid-uthcPIeClq [class^="socicon-"]:before,
.cid-uthcPIeClq [class*=" socicon-"]:before {
    line-height: 55px;
    padding: 0.6rem;
}

.cid-uthcPIef9r {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
}

.cid-uthcPIef9r .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
}

.cid-uthcPIef9r form .mbr-section-btn {
    text-align: center;
    width: 100%;
}

.cid-uthcPIef9r form .mbr-section-btn .btn {
    display: inline-flex;
}

@media (max-width: 991px) {
    .cid-uthcPIef9r form .mbr-section-btn .btn {
        width: 100%;
    }
}

.cid-uthcPIef9r .content-head {
    max-width: 800px;
}

.cid-uthcPIf266 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
}

.cid-uthcPIf266 .mbr-fallback-image.disabled {
    display: none;
}

.cid-uthcPIf266 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uthcPIf266 .mbr-text {
    color: #000000;
}

.cid-uthcPIf266 .mbr-section-subtitle {
    color: #ffffff;
    text-align: left;
}

.cid-uthcPIf266 .main-button {
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .cid-uthcPIf266 .main-button {
        margin-bottom: 2rem;
    }
}

.cid-uthcPIf266 .mbr-section-subtitle,
.cid-uthcPIf266 .main-button {
    color: #000000;
}

.cid-uthcPIf266 .google-map {
    height: 30rem;
    position: relative;
    border-radius: 2rem;
}

.cid-uthcPIf266 .google-map iframe {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

.cid-uthcPIf266 .google-map [data-state-details] {
    color: #6b6763;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.cid-uthcPIf266 .google-map[data-state] {
    background: #e9e5dc;
}

.cid-uthcPIf266 .google-map[data-state="loading"] [data-state-details] {
    display: none;
}

.cid-uthcPIf7yq {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #000000;
}

.cid-uthcPIf7yq .mbr-fallback-image.disabled {
    display: none;
}

.cid-uthcPIf7yq .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uthcPIf7yq .copyright {
    color: #ffffff;
    text-align: left;
}

.cid-uthcPIf7yq .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 991px) {
    .cid-uthcPIf7yq .row {
        flex-direction: column-reverse !important;
    }
    .cid-uthcPIf7yq .row .copyright {
        margin: 1rem 0 0 0;
    }
}

.cid-uthcPIf7yq .row-links {
    width: 100%;
    justify-content: center;
}

.cid-uthcPIf7yq .row-links .row-links-soc {
    list-style: none;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .cid-uthcPIf7yq .row-links .row-links-soc {
        justify-content: center;
    }
}

.cid-uthcPIf7yq .row-links .row-links-soc li {
    padding: 0 1rem 0rem 1rem;
}

@media (max-width: 767px) {
    .cid-uthcPIf7yq .row-links .row-links-soc li {
        padding: 0 1rem 1rem 1rem;
    }
}

.cid-uthcPIf7yq .row-links .row-links-soc li p {
    margin: 0;
}

@media (max-width: 991px) {
    .cid-uthcPIf7yq .copyright {
        text-align: center;
    }
}

.cid-uthcPIf7yq row-links-soc-item {
    color: #ffffff;
}